<!DOCTYPE html>
<html>
	<%- include('../partials/head.ejs')  %>
	<%- include('../partials/review.ejs')  %>
	<title>Review</title>

<body>
	
		<div class="navbar">
			<img src="images/logo.png" class="logo">
		</div>

		<div class="content">
		<div class="comment">
<h1>Reviews</h1><br>
<hr style="width:100%", size="3", color=black> 
</div>
<% reviews.forEach(review=>{%>
<div class="comment">
<strong><a href = "/Product/<%=review.product%>/"><%=review.title%></a></strong>
<p>Name: <%= review.user%> </p>
<p>Rating: <%= review.stars%>/5</p>
<p>Comment: <%= review.comment%></p><br>

<%})%>
</div>

</div>
</div>

	
<%- include('../partials/nav.ejs')  %>
</body>
</html>