<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs')  %>
	<%- include('../partials/store.ejs')  %>

<body>


		<header>
							<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li class="cart">
								<a href="/cart">
								<ion-icon name="basket-outline"><%if(user){%></ion-icon>Cart<span><%=user.inCart%></span><%}%>
							</a>
						</li>
					</ul>
	</header>
	<div class="container">
		
		<% items.forEach(item => { %>
			<form action="/store/<%= item._id %>/addCart" method="POST">
			<div class="image">
				<img src="/uploads/images/<%= item.img %>" alt="laptop"style="width:300px; height:200px;" />
				<h3><%=item.name%></h3>
				<h3>$<%=item.price%></h3>
				<a id = "add" >Add Cart</a>
			</div>
		</form>
		<% }); %>
		</div>
		<br><br><br><br><br><br>	<br><br><br><br><br><br>	<br><br><br><br><br><br>	<br><br><br><br><br><br>	<br><br><br><br><br><br><br>
		<%- include('../partials/storescript.ejs')  %>
		<%- include('../partials/footer.ejs')  %>
		<%- include('../partials/nav.ejs')  %>
	
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> 

</body>
</html>
